<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title> <%=pageTitle%> </title>
</head>
<body>
  <h2>Employees</h2>


   <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>
            <%for(let ex of emp){ %>
              <tr>
                  <td> <%=ex.id %> </td>
                  <td>  <%=ex.name %></td>
                  <td><%=ex.salary %></td>
              </tr>

                <% }%>
            
        </tbody>

   </table>

    
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
</body>
</html>