<!DOCTYPE html>
<html>
    <head>
        <title>Employees</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>

    <div class="container">
        <h2>Employees</h2>
        <form class="form-horizontal" method="POST" action="create">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="ID" name="id"/>
           </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="name"/>
        </div>


        <div class="form-group">
            <input type="text" class="form-control" placeholder="Salary" name="salary"/>
        </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

    </body>
</html>